@import 'common-one.css';
@import 'common-two.css';

body
 {
	 background: url('../bg/main.jpg') fixed no-repeat;
	 background-size: cover;
  }


 .box
  {
	  position: relative;
	  background-color: rgba(255,255,255,0.85);
	  top: 0;
	  left: 0;
	  height: 96%;
  }


.fit
 {
	 display: none;
	  }

	 #geo-expand
	  {
		  max-height: 88vh;
	  }

.author
 {
  color: white;
  text-align: center;
  margin-top: 75vh;
 }

.cover h1
 {
  width: 100%;
 }

table img
{
width: 100%;
}

.univ-logos th
{
width: 10%;
}

.univ-table td
{
text-align: right;
}

.notes p
{
 margin-top: 0;
 margin-bottom: 0;
}
